__Exercise 1: Create a Jupyter Notebook__

__Exercise 2: Create markdown cell with title of the notebook__

##  Data Science Tools and Ecosystem

__Exercise 3 - Create a markdown cell for an introduction__

 In this notebook, Data Science Tools and Ecosystem are summarized.

__Exercise 4 - Create a markdown cell to list data science languages__

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

__Exercise 5 - Create a markdown cell to list data science libraries__

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. TensorFlow
3. Pandas
4. Matplotlib
5. PyTorch

__Exercise 6 - Create a markdown cell with a table of Data Science tools__

|Data Science Tools|
|---|
|Jupyter Notebooks|
|RStudio|
|Visual Studio Code|

__Exercise 7 - Create a markdown cell introducing arithmetic expression examples__

Below are a few examples of evaluating arithmetic expressions in Python.

In [18]:
5 *3

15

In [19]:
8+7

15

In [20]:
1-5

-4

__Exercise 8 - Create a code cell to multiply and add numbers__

This a simple arithmetic expression to mutiply then add integers

In [21]:
(3*4)+5

17

__Exercise 9 - Create a code cell to convert minutes to hours__

This will convert 200 minutes to hours by diving by 60

In [22]:
minutes = 200
hours = minutes/60
print("200 minutes is equal to", hours, "hours.")

200 minutes is equal to 3.3333333333333335 hours.

__Exercise 10 - Insert a markdown cell to list Objectives__

Chapter for "Tools for Data Science"
1. Overview of Data Science Tools
2. Languages of Data Science
3. Packages, APIs, Datasets and Models
4. Jupyter Notebooks and JupyterLab
5. RStudio & GitHub
6. Create and Share your Jupyter Notebook
7. [Optional] IBM Watson Studio

__Exercise 11 - Create a markdown cell to indicate the Author's name__

### Author
Annisa L